.devenv
.devenv.flake.nix
.terraform
.terraform.lock.hcl
.vaultini1_init
devenv.lock
terraform.tfstate
terraform.tfstate.backup
containers/vaultini?/data/*
containers/vaultini?/logs/*
vaultini.log
containers/caddy/logs/vault-access.log
